* {
  margin: 0;
  padding: 0;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator_background {
  height: 55vh;
  width: 35vh;
  background-color: #a7a7a7;
}
.calculator_screen {
  height: 8vh;
  width: 30vh;
  margin: 10px 15px 10px 15px;
  background-color: #020769;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.calculator_screen_number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #008300;
  font-size: 40px;
  width: 100%;
  padding-right: 10px;
}

.action_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.calculator_clear_button,
.calculator_delete_button {
  background-color: #a7a7a7;
  height: 30px;
  width: 100%;
}

.number_button {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 50%;
  float: left;
  min-height: 60%;
  margin-left: 5%;
}

.calcualtor_number_button {
  flex: 1 0 33%;
  min-height: 12.4vh;
  background-color: #a7a7a7;
}

.operator_button {
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 25%;
  float: left;
  min-height: 68%;
  margin-left: 12%;
}

.calcualtor_operator_button,
.calcualtor_calculate_button {
  flex: 1 0 20%;
  width: 100%;
  background-color: #a7a7a7;
  border-radius: 5%;
}
